<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Stranger Things App</title>
    <link rel="stylesheet" href="/style.css" />
    <link rel="stylesheet" href="/normalize.css" />
</head>
<body>
    <h1>Welcome to Hawkins</h1>
    <div class="wrapper">
        <section class="play">
            <form action="/people" method="POST">
                <input type="text" placeholder="name" name="name">
                <input type="radio" id="radioHuman" name="species" value="Human" required>
                <label for="radioHuman">Human</label>
                <input type="radio" id="radioMonster" name="species" value="Monster" required>
                <label for="radioMonster">Monster</label>
                <input placeholder="status" name="status" value="alive" hidden>
                <input placeholder="place" id="place" name="place" value="place" hidden>
                <button type="submit">Submit</button>
            </form>
            <div id="message"></div>
            <div>
                <h2>Monster's Attack Humans</h2>
                <p>
                    Change status to vulnerabe
                </p>
                <button id="monster-attacks-human">Monsters Attack</button>
            </div>
        
            <div>
                <h2>Kill the monsters!</h2>
                <p>
                Kill a monster
                </p>
                <button id="kill-monster">Kill a monster</button>
            </div>
        </section>

        <section class="place">
            <div class="hawkins">
                <ul class="humans">
                    <!-- Loop through people -->
                    <% for(var i = 0; i < people.length; i++) {%>
                    <li class="human">
                        <% if(people[i].place == 'hawkins') { %>
                            <!-- Output name from the iterated people object -->
                            <span><%= people[i].name %></span>
                            <!-- Output species from the iterated people object -->
                            <span><%= people[i].species %></span>
                            <!-- Output status from the iterated people object -->
                            <span><%= people[i].status %></span>
                        <% } %>
                    </li>
                    <% } %>
                </ul>
            </div>

            <div class="upside-down">
                <ul class="monsters">
                    <!-- Loop through people -->
                    <% for(var i = 0; i < people.length; i++) {%>
                    <li class="monster">
                        <% if(people[i].place == 'upside down') { %>
                            <!-- Output name from the iterated people object -->
                            <span><%= people[i].name %></span>
                            <!-- Output species from the iterated people object -->
                            <span><%= people[i].species %></span>
                            <!-- Output status from the iterated people object -->
                            <span><%= people[i].status %></span>
                        <% } %>
                    </li>
                    <% } %>
                </ul>
            </div>
        </section>
    <div>
    <script src="/main.js"></script>
</body>
</html>